node_modules
package-lock.json
.env
coverage
coverage.json
typechain-types/

#Hardhat files
cache
artifacts
.eslintignore
.eslintrc.js
.npmignore
.prettierignore
.prettierrc
.solhint.json
.solhintignore